* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: auto;
  width: 100%;
  padding: 50px 20px;
  background-color: #22254b;
  color: whitesmoke;
}
.movieContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  margin-top: 3rem;
}

@media (max-width: 1024px) {
  .container {
    padding-bottom: 860px !important;
  }
}
@media (max-width: 768px) {
  .container {
    padding-bottom: 530px !important;
  }
}
@media (max-width: 650px) {
  .container {
    padding-bottom: 340px !important;
  }
}
@media (max-width: 550px) {
  .container {
    padding-bottom: 280px !important;
  }
}
@media (max-width: 520px) {
  .container {
    padding-bottom: 80px !important;
  }
}
@media (max-width: 414px) {
  .container {
    padding-bottom: 230px !important;
  }
}
@media (max-width: 400px) {
  .container {
    padding-bottom: 150px !important;
  }
}
